.popup-container {
    position: relative;
}

.popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 50;
    gap: 2px;

}

.popup button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #0077cc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;

}

.popup button:hover {
    background-color: #005fa3;
}

#close-button {
    /* position: absolute; */
    top: 0;
    right: 0;

    border: none;
    background-color: #f61212;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #aaa;
}