* {
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #68C3D4;
    background: var(--bg-color);
}

.App {
    width: 100vw;
    height: 100vh;
}

.main-img-wrapper {
    width: 100%;

}

.main {
    width: 1920px;
    height: 1080px;
    /* width: 100px; */
}